.App{
  padding-top:80px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  /* flex-direction: column; */
}

h1{
  color: aliceblue;
}
#filter-container{
  /* max-width: 250px; */
  background-color: #434343;
  padding: 15px;
  margin-top: 20px;
  color: #C5C29B;
  border-radius: 3px;
  max-width: 250px;
  min-width: 200px;
}

#filter-container select{
    width: 100%;
}
#filter-container button{
  background: #4E70EB;
  border: none;
  width: 5em;
  height: 2em;
  border-radius: 2px;
  color: #FFF;
}

#charts{
  padding-top: 20px;
  padding-left: 20px;
  /* max-width: 70%; */
}

.chart nvd3-svg{
  min-height: 600px;
  min-width: 500px;
}

#login-container{
  background-image: url('mining-excavator16-9.png');
  display:flex;
  justify-content: space-between;
  position: absolute;
  flex-wrap: wrap;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 15vh;
  padding-left: 15vw;
  padding-right: 10vw;
}

#content{
  margin-left: 20px;
  margin-top: 20px;
}

.nv-chart{
  width: 900px;
  height: 500px;
}