header {
  position: absolute;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  height: 78px;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  background: #252525;
}
